[General]
# Use Simplified Installation UI
simplified_ui=n
ConfirmPython2ToPython3Switch=Yes

[Server]
system_user={{ hana_update_user }}
system_user_password='{{ hana_update_user_password }}'

# Installation Path
sapmnt=/hana/shared

# SAP HANA System ID
sid={{ sap_sid|upper }}

# Instance Number
number={{ hana_instance_nr }}